.ProductDisplay{
    display: flex;
    gap: 50px;
    /* padding: 20px 100px; */
   margin: 50px 170px;
}

.ProductDisplay_left{
    display: flex;
    gap: 10px;
}
.productImgae_list{
    display: flex;
    flex-direction: column;

    gap: 21px;
}
.productImgae_list img{
    height: 116px;
}
.productMain_image{
    width: 530px;
    height: 530px;
}
.productMain_image img{
    height: 100%;
    width: 100%;
}



.ProductDisplay_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ProductDisplay_right h1{
    font-weight: 600;
    font-size: 28px;
}
.rating{
    display: flex;
    align-items: center;
    gap: 8px;
}
.prices{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
}
.old_prices{
    text-decoration: line-through;
    color: gray;
}
.new_prices{
    font-weight: 600;
    color: orange;
}
.productDisplay_right_description{
    font-size: 18px;
}
.productDisplay_right_select_Size{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.productDisplay_right_select_Size h2{
    font-weight: 500;
    font-size: 18px;
    color: gray;
}
.size_box{
    display: flex;
    gap: 20px;
    align-items: center;
}
.size{
    background: gainsboro;
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productDisplay_right_add_cart button{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    font-size: 18px;
    font:bold
}
.productDisplay_right_category{
    display: flex;
    align-items: center;
}
.productDisplay_right_category span{
    font-size: 18px;
}
.productDisplay_right_category p {
    font-weight: 600;
    font-size: 18px;
}
.productDisplay_right_tags{
    font-size: 18px;
    display: flex;
    align-items: center;
}
.productDisplay_right_tags p {
    font-size: 18px;
    font-weight: 600;
}
.productDisplay_right_tags span{
    font-size: 18px;
}


@media(max-width:1280px){
    .ProductDisplay{
    gap: 35px;
   margin: 35px 90px;
}

.ProductDisplay_left{
    gap: 14px;
}
.productImgae_list{
    gap: 18px;
}
.productImgae_list img{
    height: 112px;
}
.productMain_image{
    width: 500px;
    height: 500px;
}

.ProductDisplay_right {
    gap: 17px;
}
.ProductDisplay_right h1{
    font-size: 22px;
}
.rating{
    gap: 6px;
}
.rating p{
    font-size: 16px;
}
.rating img{
    width: 16px;
}
.productDisplay_right_description{
    font-size: 16px;
}
.prices{
    gap: 40px;
    font-size: 16px;
}
.productDisplay_right_select_Size{
    gap: 17px;
}
.productDisplay_right_select_Size h2{
   font-size: 16px;
}
.size_box{
    gap: 17px;
}
.size{
    width: 40px;
    height: 40px;
    font-size: 14px;
}
.productDisplay_right_add_cart button{
    padding: 12px 25px;
    font-size: 16px;
}
.productDisplay_right_category span{
    font-size: 16px;
}
.productDisplay_right_tags span{
    font-size: 16px;
}
.productDisplay_right_category p {
    font-size: 16px;
}
.productDisplay_right_tags{
    font-size: 16px;
}
.productDisplay_right_tags p {
    font-size: 16px;
}
}

@media(max-width:1024px){
    .ProductDisplay{
    gap: 30px;
   margin: 30px 70px;
}

.ProductDisplay_left{
    gap: 12px;
}
.productImgae_list{
    gap: 16px;
}
.productImgae_list img{
    height: 100px;
}
.productMain_image{
    width: 450px;
    height: 450px;
}

.ProductDisplay_right {
    gap: 12px;
}
.ProductDisplay_right h1{
    font-size: 20px;
}
.rating{
    gap: 5px;
}
.rating img{
    width: 14px;
}
.rating p{
    font-size: 14px;
}
.productDisplay_right_description{
    font-size: 14px;
}
.prices{
    gap: 35px;
    font-size: 14px;
}
.productDisplay_right_select_Size{
    gap: 15px;
}
.productDisplay_right_select_Size h2{
   font-size: 14px;
}
.size_box{
    gap: 15px;
}
.size{
    width: 35px;
    height: 35px;
    font-size: 12px;
}
.productDisplay_right_add_cart button{
    padding: 10px 22px;
    font-size: 14px;
}
.productDisplay_right_category span{
    font-size: 14px;
}
.productDisplay_right_tags span{
    font-size: 14px;
}

.productDisplay_right_category p {
    font-size: 14px;
}
.productDisplay_right_tags{
    font-size: 14px;
}
.productDisplay_right_tags p {
    font-size: 14px;
}
}

@media(max-width:900px){
    .ProductDisplay{
    gap: 25px;
   margin: 20px 50px;
}

.ProductDisplay_left{
    gap: 10px;
}
.productImgae_list{
    gap: 14px;
}
.productImgae_list img{
    height: 75px;
}
.productMain_image{
    width: 350px;
    height: 350px;
}

.ProductDisplay_right {
    gap: 10px;
}
.ProductDisplay_right h1{
    font-size: 16px;
}
.rating{
    gap: 3px;
}
.rating img{
    width: 12px;
}
.rating p{
    font-size: 12px;
}
.productDisplay_right_description{
    font-size: 12px;
}
.prices{
    gap: 28px;
    font-size: 12px;
}
.productDisplay_right_select_Size{
    gap: 12px;
}
.productDisplay_right_select_Size h2{
   font-size: 12px;
}
.size_box{
    gap: 12px;
}
.size{
    width: 25px;
    height: 25px;
    font-size: 10px;
}
.productDisplay_right_add_cart button{
    padding: 8px 18px;
    font-size: 12px;
}
.productDisplay_right_category span{
    font-size: 14px;
}
.productDisplay_right_tags span{
    font-size: 14px;
}

.productDisplay_right_category p {
    font-size: 12px;
}
.productDisplay_right_tags{
    font-size: 12px;
}
.productDisplay_right_tags p {
    font-size: 12px;
}
}
@media(max-width:650px){
    .ProductDisplay{
    gap: 20px;
   margin: 15px 30px;
}

.ProductDisplay_left{
    gap: 10px;
}
.productImgae_list{
    gap: 12px;
}
.productImgae_list img{
    height: 72px;
}
.productMain_image{
    width: 324px;
    height: 324px;
}

.ProductDisplay_right {
    gap: 8px;
}
.ProductDisplay_right h1{
    font-size: 14px;
}
.rating{
    gap: 3px;
}
.rating img{
    width: 12px;
}
.rating p{
    font-size: 12px;
}
.productDisplay_right_description{
    font-size: 10px;
}
.prices{
    gap: 25px;
    font-size: 10px;
}
.productDisplay_right_select_Size{
    gap: 10px;
}
.productDisplay_right_select_Size h2{
   font-size: 12px;
}
.size_box{
    gap: 10px;
}
.size{
    width: 20px;
    height: 20px;
    font-size: 8px;
}
.productDisplay_right_add_cart button{
    padding: 6px 16px;
    font-size: 10px;
}
.productDisplay_right_category span{
    font-size: 10px;
}
.productDisplay_right_tags span{
    font-size: 10px;
}
.productDisplay_right_category p {
    font-size: 10px;
}
.productDisplay_right_tags{
    font-size: 10px;
}
.productDisplay_right_tags p {
    font-size: 10px;
}
}


@media(max-width:500px){
    .ProductDisplay{
    gap: 16px;
   margin: 12px 6px;
}

.ProductDisplay_left{
    gap: 2px;
}
.productImgae_list{
    gap: 8px;
}
.productImgae_list img{
    height: 44px;
}
.productMain_image{
    width: 200px;
    height: 200px;
}

.ProductDisplay_right {
    gap: 6px;
}
.ProductDisplay_right h1{
    font-size: 10px;
}
.rating{
    gap: 2px;
}
.rating img{
    width: 10px;
}
.rating p{
    font-size: 10px;
}
.productDisplay_right_description{
    font-size: 8px;
    display: none;
}
.prices{
    gap: 20px;
    font-size: 8px;
}
.productDisplay_right_select_Size{
    gap: 8px;
}
.productDisplay_right_select_Size h2{
   font-size: 10px;
}
.size_box{
    gap: 8px;
}
.size{
    width: 15px;
    height: 15px;
    font-size: 8px;
}
.productDisplay_right_add_cart button{
    padding: 4px 12px;
    font-size: 10px;
}
.productDisplay_right_category span{
    font-size: 10px;
}
.productDisplay_right_tags span{
    font-size: 10px;
}
.productDisplay_right_category p {
    font-size: 10px;
}
.productDisplay_right_tags{
    font-size: 10px;
}
.productDisplay_right_tags p {
    font-size: 10px;
}
}